/*General CSS*/

html{
    -webkit-text-size-adjust: auto;
}

body{
    margin: 0;
    background-color: /*#f5f1e9*/#fffbf0;
    font-family: 'Open Sans', sans-serif; 
}

hr {
    background: black;
}

h1{
    font-family: "Lobster", sans-serif;
    font-size: 50px;
    font-weight: 400;
}

h2{
    font-family: 'Lobster Two', sans-serif;
    font-size: 45px;
    font-weight: 300;
}

.button{
    padding: 8px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
    border-style: solid;
    border-color: #333;
    border-radius: 1.5rem;
    background-color:#fffbf0/*#333*/;
    color: #222;
}

/*Navigation Bar CSS*/

.nav-bar {
    width: 100%;
    height: 80px;
    background: #333/*#fffbf0 /*#f5f1e9*/;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


nav ul{
    display: inline-flex;
    float: left;
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
    font-family: 'Barlow', sans-serif;
    font-size: 17.5px;
}

.nav-bar li a{
    padding: 20px;
    text-decoration: none;
    color: white;
}

/*Website text animations*/

@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100%{
        opacity:1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down{
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100%{
        opacity:1;
        transform: translateY(0px) scale(1);
    }
}

/**/



/*Home Page Animations*/

.page-title h1.in-view{
    animation: fade-up 2s;
}

.myth-container.in-view{
    animation: fade-up 2s;
}

/*About Page Animations*/

.about.in-view{
    animation: fade-up 2s;
}


/*Retreats Page Animations*/

.retreats-title h1.in-view{
    animation: fade-up 2s;
}

.retreats-title .commit.in-view{
    animation: fade-up 2s;
}

.benefit-container.in-view{
    animation: fade-up 2s;
}

/*Quiz page animations*/

.term.in-view{
    animation: fade-up 2s;
}

.quiz-content.in-view{
    animation: fade-up 2s;
}

.quiz-end-button.in-view{
    animation: fade-up 2s;   
}

/*Contact page animation*/

.contact-info.in-view{
    animation: fade-up 2s;
}

/*Specials page animation*/

.specials-title h1.in-view{
    animation: fade-up 2s;
}

/**********************************************************/

/*Home Page CSS*/
.intro-paragraph p{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #222;
    margin-bottom: 0;
}

.page-title{
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    width: 95%;
    height: 35.63rem;
    padding-top: 40px;
    background-image: url(./images/image3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 115px 44px 0 42px;
    border-radius: 20px;
}

.page-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title h1{
    font-family: "Alex Brush", cursive;
    font-weight: 600;
    font-size: 70px;
    font-style: normal;
    padding-top: 90px;
}

.intro-paragraph {
    text-align: left; 
    padding: 20px 60px 0 60px; 
    margin: 50px 0 80px 0;
}

.intro-paragraph .para-text{
    margin: 10px 20px 20px 30px; 
}

.intro-paragraph ul{
    margin-top: 0;
}

.intro-paragraph li{
    font-size: 18px;
    padding: 10px;
}

.opening-container{
    width: 100%; 
    height: 220px; 
    margin: 50px 10px 50px 10px; 
    display: flex; 
    justify-content: center;
}

.opening-title{
    width: 740px;
    height: 200px; 
    text-align: center; 
    display: flex; 
    flex-wrap: wrap; 
    font-family: 'Lobster Two', sans-serif;
    font-size: 27px;
    font-weight: 300;
}

.services{
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0 20px 0;
}

.services.in-view{
    animation: fade-up 2s;
}

#service{
    width: 400px;
    height: 300px;
    background-color: #F9F5E8/*#eee7d9*/;
    border-radius: 5%;
    text-align:left;
    font-size: 19px;
}

#service p{
    margin: 10px 15px 0px 30px;
}

#service svg{
    margin: 60px 0 30px 30px;
}

.commitments{
    width: 100%;
    height: auto;
    display: inline-flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    justify-content: center;
}

#commitment{
    width: auto;
    height: 70px;
    display: inline-flex;
    margin-left: 70px;
}

.commitments svg{
    padding-top: 14px;
    margin-right: 10px;
}

.myth-background{
    /*background-color: #333;*/
    background-image: url(./images/lake.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.myths{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
    /*font-family: 'Pacifico', cursive;*/
    margin-top: 90px;
}


.myth{
    width: 350px;
    height: 300px;
    margin-right: 70px;
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    color: #fffbf0;
    font-size: 18px;
    line-height: 30px;
}

.myth-title {
    text-align: center;
    margin: 50px 0 40px 10px;    
    
}

.myth-title h1{
    font-family: 'Lobster Two', sans-serif; 
    font-size: 50px;
    color: #fffbf0;
}

.before-review{
    height: 100px; 
    width: 100%; 
    text-align: center; 
    margin: 70px 10px 0px 10px;
}

.reviews{
    margin: 0px 0 20px 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 530px;
    font-family: 'Open Sans', sans-serif;
}

.tips-container{
    width: 100%;
    height: auto;
    margin: 70px 0 0 0;
}

.tips{
    padding: 0px 100px 0px 100px;
    font-size: 18px;
}

.button-container{
    width: 100%;
    height: auto;
    display: flex;
}

.vert-line{
    height: 170px;
    border: 1px solid;
    margin: 140px 70px 70px 70px;
}

.specials-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
}

.specials-button h2{
    margin-bottom: 30px;
}

/*About Page CSS*/

.about-title {
    width: 800px;
    height: 500px;
    margin: 100px 30px 30px 100px;
    padding-top: 110px;
    color: #222;
}

.about-title h1{
    font-size: 80px;
}

.about-image{
    margin-top: 115px;
}

.about-par{
    font-size: 19px;
    padding: 0px 150px 20px 150px;
}

.about-par p{
    line-height: 30px;
}

.about-par li{
    padding: 10px;
}

.more-abt-btn-2{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0 100px 0;
}
.mission{
    text-align: center;
    width: 80%;
    height: 350px;
    background-color: #F9F5E8;
    margin: 10px 0 80px 140px;
    border-radius: 20px;
}
.facts{
    margin-bottom: 50px; 
    width: 100%; 
    height: 1700px; 
    /*background: #333;*/
    background-image: url(./images/coconut.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.facts p{
    margin: 70px 0px 50px 0px;
    font-size: 20px;
    color: white;
    padding: 0px 150px 0px 150px;
}

.fact-1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    width: 100%; 
    height: 550px; 
    margin-bottom: 90px;
}

.fact-1 p{
    font-size: 20px; 
    color: white/*#fffbf0*/; 
    margin: 0; /*0px 30px 20px 130px;*/
    padding: 0px 100px 0px 100px;
    float: left;
}

.fact-2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    width: 100%; 
    height: 300px; 
    margin-top: 100px;
}

.fact-2 p{
    width: 620px;
    font-size: 20px; 
    color: white/*#fffbf0*/; 
    padding: 0px 100px 0px 100px;
    float: right;
}


.current-active{
    width: 100%; 
    height: 1000px; 
    margin-top: 120px;
    display:flex;
}

.current-active p{
    font-size: 17px; 
    font-weight: 400; 
    font-style: italic;
    line-height: 30px; 
    margin: 0;
    padding: 16px;
}

.handstand{
    float: right; 
    margin-right: 140px; 
    margin-top: 70px;
    width: 470px; 
    height: 400px; 
    border-width: 30px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 15px;
}

.something{
    float: left; 
    margin-left: 140px; 
    width: 470px; 
    height: 400px; 
    border-width: 30px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 15px;
}

.active-1{
    height: 800px; 
    width: 750px; 
    position: relative;
}

.active-1-container{
    z-index: 0; 
    position: absolute; 
    width: 700px; 
    height: 600px;
}

.text-box-1{
    display: flex;
    flex-direction: column;
    position: absolute; 
    background-color:  white; 
    width: 600px; 
    height: 130px; 
    margin: 60px 0 80px 600px; 
    top: 0; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.active-1-container img{
    margin: 0px 0 50px 200px; 
    width: 460px; 
    height: 550px; 
    z-index: 0; 
    position: absolute;
}

.active-2{
    height: 600px; 
    width: 3100px; 
    float: right; 
    margin: 400px 0 0 0;
}

.active-2-container{
    z-index: 0; 
    position: absolute; 
    width: 750px; 
    height: 700px;
}

.active-2-container img{
    margin: 30px 0 30px 560px; 
    width: 440px; 
    height: 550px; 
    z-index: 0; 
    position: absolute;
}

.text-box-2{
    position: absolute; 
    background-color:  white; 
    width: 600px; 
    height: 120px; 
    margin: 0 600px 200px 20px; 
    bottom: 0; 
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.things-container{
    height: 700px;
    background-image: url(./images/sea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
}
.things{
    margin-left: 100px;
    padding-top: 40px;
    height: auto;
    color:#fffbf0;
}

.parts{
    display: flex;
}

#part{
    width: 600px;
    height: auto;
}

.part-1{
    margin-right: 100px;
}

.things ol{
    /*font-family: 'Lobster Two', sans-serif;
    font-size: 25px;
    font-weight: 300;*/
    font-size: 19px;
    height: 200px;
}

.things ol li{
    padding: 10px;
}

.about-end-button{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0 50px 0;
}

/*Retreats Page CSS*/

.retreat-button{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-left: 150px;
}

.retreats-title{
    width: 95%;
    height: 600px;
    /*background-image: url(./images/mudra.webp);*/
    background-image: url(https://www.gaiam.com/cdn/shop/articles/WebsiteReshoot-2616-800x534.jpg?v=1552935089);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 115px 30px 80px 40px;
    border-radius: 20px;
    color: white;
}

.retreats-title h1{
    font-family: 'Lobster', sans-serif; 
    font-size: 70px; 
    padding-top: 240px; 
    margin-bottom: 20px;
}

.commit{
    display: inline-flex; 
    width: auto; 
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.retreat-intro{
    width: 100%;
    height: auto;
    margin: 30px 0 50px 0;
}

#paragraph{
    width: 70rem;
    margin-left: 100px;
    font-size: 18px;
}

.intro-title{
    font-family: 'Lobster Two', sans-serif; 
    font-size: 45px; 
    font-weight: 300; 
    margin: 20px 0 30px 100px;
}

.retreats-info p{
    display: flex;
    flex-direction: column;
    font-size: 19px; 
    margin: 20px 100px 90px 110px;
}

.retreat-info{
    width: 100%;
    height: 300px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 100px;
}

.retreat-info h1{
    font-family: 'Lobster Two', sans-serif;
    font-size: 45px; 
    font-weight: 300; 
    margin: 0px 0 10px 100px;
}

#intro-par{
    margin: 40px 0 20px 115px;
}

.list-1 {
    margin: 20px 0 20px 110px;
    list-style-type: circle;
}

.retreat-info li{
    padding: 8px;
    font-size: 18px;
}

.in-circle{
    width: 7px; 
    height: 7px; 
    border-radius: 50%; 
    background-color: white;
    align-items: center;
    margin: 10px 30px 0px 30px;
    padding: 0;

}

.benefits{
    width: 100%; 
    height: auto; 
    background-color: #333;
}

.benefit-title{
    width: 100%; 
    height: auto; 
    text-align: center; 
    padding: 30px 0 30px 0;
    margin-left: 0;
}

.benefits-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

#benefit{
    width: 270px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    color: #fffbf0;
    font-size: 18px;
    line-height: 30px;
}

.schedule{
    width: 100%;
    height: 300px;
    display: inline-flex;
    justify-content: center;
    margin: 30px 0 40px 0;
}

#class-schedule{
    width: 400px;
    height: 350px;
    background-color: #F9F5E8/*#eee7d9*/;
    border-radius: 5%;
    text-align:left;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    margin-right: 40px;
}

.schedule-1{
    margin-left: 30px;
}

.schedule svg{
    margin: 15px 20px 10px 30px;
}

.schedule p {
    font-size: 22px;
    font-weight: 500;
}

.schedule ul{
    list-style-type: none;
    padding: 10px 20px 0 30px;
}

.schedule li{
    padding-top: 15px;
    font-size: 17px;
}

/*Specials Page CSS*/


.specials-title-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.specials-title{
    width: 95%;
    height: 35.63rem;
    /*background-color: #66973B;*/
    background-image: url(./images/mudra2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.specials-title h1{
    font-size: 70px;
    color:#fffbf0
}

.specials-info{
    font-size: 19px;
    padding: 0px 100px 0px 100px;
    margin-top: 70px;
}

.specials-info li{
    padding: 10px;
}

#specials-quote{
    font-style: italic;
}

.specials-content-container{
    width: 100%;
    height: auto;
}

.specials-content{
    padding: 30px 100px 100px 100px;
}

.specials-content p{
    font-size: 19px;
}

.offers-container{
    width: 100%;
}

.offers-container h3{
    font-family: 'Lobster Two', sans-serif;
    font-size: 30px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.offers-container p{
    font-size: 19px;
    padding: 50px 100px 50px 100px;
    margin-top: 50px;
}

.offers-container span{
    font-family: 'Lobster Two', sans-serif;
    font-size: 25px;
    font-weight: 300;
}

.offers{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#offer{
    background-color: #333;
    color: #fffbf0;
    border-radius: 20px;
    width: 400px;
    height: 392px;
}

#offer h3{
    font-family: 'Lobster Two', sans-serif;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    padding: 20px 20px 0 0;
}

#offer ul{
    list-style-type: none;
    padding: 30px;
}

#offer li{
    font-size: 19px;
    padding: 10px;
}


/*Contact Page CSS*/

.contact-container{
    width: 90%;
    height: 540px;
    text-align: left;
    margin: 150px 0 50px 0px;
    padding-left: 150px;
    display: inline-flex;
}

.contact-info{
    padding: 100px 200px 0 100px;
}

#contact-info{
    display: inline-flex;
    font-size: 17px;
}

.contact-info h2{
    width: 370px; 
    margin-bottom: 25px;
}

.contact-image{
    width: 556px; 
    height: 535px;
}

.more-abt-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px 0 0px 0;
}

/*Quiz Page CSS*/

.quiz-title{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 0 50px 0;
}

.quiz-title p{
    font-size: 18px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center
}

.quiz-title.in-view{
    animation: fade-up 2s;
}

.quiz-terms{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-evenly;
    font-size: 18px;
    background-image: url(./images/tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lobster Two', sans-serif;
    font-size: 22px;
}

/*.tooltip{
    display: flex;
    position: relative;
    width: 400px;
    height: 100px;
    z-index: 1;
}

.tooltip .tooltiptext{
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    width: 300px;
    height: 50px;
    z-index: 1;
    background-color: #fffbf0;
    color: #333;
    border-radius: 6px;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}*/

#term{
    perspective: 1000px;
    background-color: transparent;
    cursor: pointer;
}

.term{
    margin-top: 140px;
}

:checked + .quiz-card{
    transform: rotateY(180deg);
}

.quiz-card{
    transition: transform 0.3s;
    transform-style: preserve-3d;
    perspective: 1000px;
    text-align: center;
}

.flip-card{
    position: relative;
    margin-bottom: 30px;
    width: 300px;
    height: 130px;
    transition: transform(0.3s);
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
}

.flip-front, .flip-back{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
    color: white;
}

.flip-front{
    height: 200px;
    width: 250px;
}

.flip-front li{
    padding-left: 50px;
}

.flip-back{
    transform: rotateY(180deg);
}

.flip-back p{
    padding: 15px;
}

.quiz-content{
    margin: 50px 0 0px 0;
    height: 200px;
    text-align: left;
    font-size: 19px;
}

.quiz-content p{
    padding-left: 120px;
    padding-right: 120px;
}

.quiz-end-button{
    width: 80%; 
    height: 100px; 
    margin: 0px 0 50px 230px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.quiz-button-container{
    display: flex;

}

.quiz-end-button h2{
    font-family: 'Lobster Two', sans-serif; 
    font-size: 35px; 
    font-weight: 300; 
    margin-right: 100px;
}

.quiz-end-button a{
    margin: 20px 140px 0 0;
}

#term-1{
    padding-left: 0px;
    padding-bottom: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#term-2{
    padding-right: 0px;
}

.term ul{
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    margin-top: 60px;
    border-style: solid;
    border-width: 3px;
    border-color: #fffbf0;
    border-radius: 10px;
    width: 300px;
}

.term li{
    height: 40px;
    padding-top: 30px;
    color: #fffbf0;
}


.quiz-container{
    width: 100%;
    height: auto;
}

.quiz-container input[type = radio]{
    accent-color: #333;
}


#question{
    margin-left: 80px;
    list-style-type: none;
}

#question-title{
    font-family: 'Lobster Two', sans-serif;
    font-size: 25px;
}

.choices{
    padding-left: 0;
}

.choices span{
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 17px;
    width: 80%;
}

.choices li{
    list-style-type: none;
    padding-bottom: 10px;
}

.view-results{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
    padding: 5px 10px;
    margin: 20px 20px 0 120px;
    background-color: #fffbf0;
    border-style: solid;
    border-width: 2px;
    border-color: #333;
    border-radius: 1.5rem;
}

/*Extended About Page CSS*/

.ext-abt-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.ext-abt-title{
    width: 95%;
    height: 37.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 110px 0px 0px 0px;
    background-image: url(./images/mat.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.ext-abt-title h1{
    font-size: 70px;
    color: white;
}

.ext-abt-text{
    margin: 70px 0px 100px 0px;
    padding: 0px 100px 0px 100px
}

.ext-abt-text h1{
    margin: 20px 0px 30px 0px; 
    font-family: 'Lobster Two', sans-serif; 
    font-weight: 300; 
    font-size: 45px;
}

.ext-abt-text p{
    font-size: 18px;
}

/************************************************************/

/*Home Page Carousel CSS*/
.slide-container{
    max-width: 1220px;
    width: 100%;
    padding: 40px 0;
    z-index: 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 10px;
}
.card{
    border-radius: 10px;
    background-color: #F9F5E8;
    border: none;
}

.swiper-slide{
    height: 450px;
}

.name{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    text-align: center;
    font-style: italic;
}
.description{
    font-size: 17px;
    font-style: italic;
    color: #707070;
    text-align: center;
    margin: 20px;
    line-height: 25px;
}
  
.swiper-navBtn{
    color: #333/*#b39558*/;
    transition: color 0.3s ease;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 20px;
}
.swiper-button-next{
    right: 0;
    margin-left: 30px;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #333/*#b39558*/;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #333/*#b39558*/;
}
  
@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 10px;
}
.swiper-navBtn{
    display: none;
}
}

/*Footer CSS*/

#footer {
    width: 100%;
    height: 400px;
    background: #333/*#88AB8E*/;
    margin-top: 100px;
}


.footer-grid {
    display: flex;
    justify-content: space-between;
}

.footer-grid section{
    color: whitesmoke;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    margin-top: 100px;
    margin-left: 150px;
    vertical-align: top;
}


.footer-1{
    float: left;
    margin-left: 150px;
    padding-top: 15px;
}

.footer-1 h3 a{
    text-decoration: none;
    color: whitesmoke;
}


.footer-2{
    padding-top: 15px;
    margin-left: 0px;
    margin-right: 150px;
    float: right;
    margin-top: 100px;
}

.footer-grid section h3{
    font-weight: 400;
    font-size: 17px;
    margin: 10px 0 30px 0;
}

.caption{
    margin: 50px 0px 30px 40px;
    /*margin-left: 40px;
    margin-bottom: 30px;*/
}

.caption h1{
    font-family: 'Lobster Two', sans-serif;
    font-size: 40px;
}

@media(max-width: 1440px) {
    .myth{
        margin-right: 0;
    }
}

@media(max-width: 1200px){

    p{
        font-size: 15px;
    }

    /*Home Page*/
    .page-title{
        padding: 50px;
        width: 63%;
        align-items: center;
        justify-content: center;
        margin: 115px 0px 0 0px;
        background-image: url(./images/forest.jpeg);
        text-align: center;
    }

    .services{
        flex-direction: column;
        height: 77.5rem;
        padding-top: 50px;
        align-items: center;
    }

    #service{
        width: 18.75rem;
    }

    .commitments{
        display: none;
    }

    .intro-paragraph{
        width: 100%;
        margin: 20px 0 70px 0;
        padding: 0px;
        align-items: center;
        text-align: center;
    }


    .intro-paragraph .para-text{
        margin: 0px 20px 20px 20px;
    }

    .opening-container{
        height: 20rem;
        margin-left: 0;
    }

    .opening-title{
        padding: 20px;
    }

    .myth-background{
        width: 100%;
    }

    .myths{
        height: 117.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 40px;
    }

    .myth{
        margin-left: 0px;
        padding-left: 20px;
        margin-right: 0px;
    }

    .myth p{
        padding-right: 15px;
    }

    .myth-title h1{
        padding: 20px;
    }

    .before-review{
        height: 15rem;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .before-review p{
        padding: 20px;
    }

    .button-container{
        flex-direction: column;
    }

    .vert-line{
        display: none;
    }

    .retreat-button{
        text-align: center;
        padding-left: 20px;
        width: 95%;
    }

    .retreat-button h2{
        padding: 20px;
    }

    .specials-button{
        text-align: center;
        
    }

    /*About Page*/

    .about{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .about-title{
        margin-left: 35px;
        margin-bottom: 30px;
        margin-right: 0px;
        width: 90%;
        height: 20rem;
        padding-top: 60px;
    }

    .about-title h1{
        font-family: 'Lobster Two', sans-serif;
        font-size: 40px;
        font-weight: 400;
        margin: 0;
    }

    .about-title p{
        padding-right: 35px;
        margin-top: 0;
    }

    .about-image{
        margin-top: 30px;
    }

    .about-image img{
        width: 20rem;
        height: 30rem;
        padding-right: 15px;
    }

    .about-par {
        padding-left: 30px;
        padding-right: 30px;
    }

    .mission{
        margin: 50px 0 50px 35px;
        height: 30rem;
    }

    .mission p{
        padding: 20px;
    }
    
    .facts{
        height: 114rem;
    }

    .fact-1{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        height: 46rem;
    }

    .fact-1 p{
        padding: 70px 25px 0 35px;
        margin: 0 0px 20px 0px;
    }


    .handstand{
        width: 75%;
        height: 20rem;
        margin: 0 0 0 0px;
        border-width: 20px;
    }

    .fact-2{
        display: flex;
        flex-direction: column;
        height: 45rem;
        margin-top: 0;
        align-items: center;
        text-align: center;
    }

    .fact-2 p{
        width: 75%;
        padding-top: 50px;
        margin: 0px;
    }

    .something{
        width: 75%;
        height: 20rem;
        margin-left: 0px;
        border-width: 20px;
    }

    .current-active{
        width: 100%;
        height: 70rem;
        margin-top: 70px;
    }

    .current-active p{
        font-size: 15px;
        line-height: 25px;
    }

    .active-1{
        width: 100%;
        height: 35rem;

    }

    .active-1-container{
        width: 24rem;
        height: 40rem;
    }

    .active-1-container img{
        width: 80%;
        height: 25rem;
        left: 0;
        margin-left: 30px;
        margin-top: 100px;
    }

    .text-box-1{
        margin-left: 120px;
        margin-bottom: 150px;
        margin-top: 0px;
        top: 0;
        z-index: 1;
        width: 15rem;
        height: 13rem;
    }

    .active-2{
        width: 100%;
        height: 40rem;
        margin-top: 500px;
        left: 0;
    }

    .active-2-container{
        width: 26rem;
        height: 40rem;
        left: 0;
    }

    .active-2-container img{
        width: 70%;
        height: 25rem;
        left: 0;
        margin-left: 30px;
        margin-top: 200px;
    }

    .text-box-2{
        width: 13rem;
        height: 11.5rem;
        z-index: 1;
        margin-bottom: 390px;
        margin-left: 150px;
    }

    .things-container{
        height: 1700px;
    }

    .things{
        margin-left: 30px;
    }

    .parts ol{
        height: 600px;
        padding-left: 0px;
        text-align: center;
    }

    .things li{
        width: 300px;
    }

    .parts{
        flex-direction: column;
        height: 45rem;
    }

    #part{
        height: 720px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .part-1{
        margin-right: 0;
    }

    .about-end-button{
        height: 150px;
        margin-top: 100px;
        text-align: center;
    }

    /*Retreats Page*/

    .retreats-title{
        width: 90%;
        margin-left: 22px;
        margin-right: 0;
    }

    .retreats-title .commit{
        display: none;
    }

    .retreats-title h1{
        padding-top: 200px;
    }

    .retreat-intro h2{
        margin-left: 50px;
    }

    .para-1{
        width: 20rem;
    }

    #paragraph{
        margin-left: 50px;
        width: 20rem;
    }

    #paragraph p{
        padding-right: 50px;
    }

    .para-2{
        display: none;
    }

    .benefits{
        height: 75rem;
    }

    .benefit-title h2{
        margin-left: 0;
    }

    .benefits-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #benefit{
        height: 250px;
    }

    .retreat-info{
        height: 70rem;
    }

    .retreat-info h1{
        text-align: center;
        margin-left: 0;
    }

    #intro-par{
        margin-left: 60px;
        padding-right: 40px;
    }

    .list-1{
        margin-left: 40px;
    }

    .retreat-info li{
        font-size: 15px;
    }

    #class-schedule{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 30px;
        margin-bottom: 50px;
    }

    .schedule{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70rem;
    }

    .schedule-1{
        margin-left: 20px;
    }

    /*Contact Page*/

    .contact-container{
        flex-direction: column-reverse;
        margin-left: 0px;
        margin-top: 110px;
        padding-left: 0px;
        height: 45rem;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .contact-info{
        width: 80%;
        padding: 0;
        
    }

    .contact-info h2{
        width: 320px;
    }

    .contact-info hr{
        width: 80%;
        margin-left: 0;
    }

    .contact-image{
        padding-top: 10px;
        height: 420px;
        width: 350px;
    }

    .contact-image img{
        width: 100%;
        height: 25rem;
    }

    /*Quiz Page*/

    .quiz-title{
        text-align: center;
    }
    .quiz-title h2{
        padding: 0 30px 0 30px;
    }

    .quiz-title p{
        padding-left: 20px;
        padding-right: 20px;
    }

    .quiz-terms{
        flex-direction: column;
        height: 570rem;
        align-items: center;
    }

    .term{
        margin-top: 0;
    }


    #term-1{
        padding-left: 0px;
        padding-bottom: 0;
    }

    #term-2{
        padding-right: 0px;
    }

    /*.tooltip{
        flex-direction: column;
        width: 300px;
        height: 160px;
    }

    .tooltip .tooltiptext{
        width: 250px;
        height: 80px;
    }*/

    #question{
        margin: 0px;
    }

    .view-results{
        margin-left: 50px;
        margin-right: 10px;
    }

    .quiz-content{
        width: 100%;
        height: 12rem;
    }

    .quiz-content p{
        padding-left: 20px;
        padding-right: 20px;
    }

    .quiz-end-button{
        width: 85%;
        height: 350px;
        margin-left: 30px;
        text-align: center;
    }

    .quiz-end-button h2{
        width: 100%;
        margin-right: 0px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .quiz-end-button a{
        margin-right: 0px;
    }

    /*Specials Page*/

    .specials-content{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 30px;
    }

    .offers-container h3{
        width:350px;
        padding: 30px;
    }

    .offers{
        flex-direction: column;
    }

    #offer{
        width: 380px;
        margin-top: 50px;
    }

    /*Footer*/

    #footer{
        width: 100%;
        flex-direction:column;
        height: 60rem;
    }

    .footer-grid{
        flex-direction: column;
    }

    .caption{
        padding: 20px;
        text-align: center;
    }

    .footer-grid section{
        margin-left: 0px;
        margin-top: 0px;
    }

    .footer-1{
        text-align: center;
    }

    .footer-2{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding-top: 50px;
        align-items: center;
        text-align: center;
    }

    .footer-phone{
        padding-left: 45px;
    }

    /*Extended About Page*/

    .ext-abt-text{
        padding: 0px 30px 0px 30px;
    }
}

/*@media(max-width: 1200px){
    .page-title{
        padding: 50px;
        width: 63%;
        align-items: center;
        justify-content: center;
        margin: 115px 0px 0 0px;
        background-image: url(./images/forest.jpeg);
        text-align: center;
    }

    .myths{
        height: 120rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}*/
